# Laravel Defaults
/.idea/**/dataSources/
/.idea/**/dictionaries/
/.idea/**/shelf/
/.idea/**/aws.xml
/.idea/**/contentModel.xml
/.idea/**/dataSources.ids
/.idea/**/dataSources.local.xml
/.idea/**/dataSources.xml
/.idea/**/dbnavigator.xml
/.idea/**/dynamic.xml
/.idea/**/tasks.xml
/.idea/**/sqlDataSources.xml
/.idea/**/uiDesigner.xml
/.idea/**/usage.statistics.xml
/.idea/**/workspace.xml
/.idea/httpRequests
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
atlassian-ide-plugin.xml
docker-compose.override.yml
error.log
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Yarn Berry
/.yarn/*
!/.yarn/plugins
!/.yarn/releases
.pnp.cjs
.pnp.data.json
.pnp.js
.pnp.loader.mjs
.pnpm-store

# Custom configs
/.vscode/*
!/.vscode/*-example
/config/local/*
!/config/local/*-example
.lando.local.yml

# backups
/database/backups

# Public directory files
/public/css
/public/js
/public/mix-manifest.json

# Media files
*.jpg
*.jpeg
*.jpe
*.tif
*.tiff
*.png
*.ico

# OS files
.directory
