@import "_variables.css";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,700');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap');

/**
 * base styles
 */
@tailwind base;

html {
   height: 100%;
   line-height: 1.15;
}
body {
   min-height: 100%;
}

ul {
	list-style-type: disc;
	padding-left: theme('padding.4');
}
ol {
	list-style-type: decimal;
	padding-left: theme('padding.4');
}

img {
	height: auto;
}

button {
	@mixin transitions color $default-speed|border-color $default-speed;
}

/**
 * components
 */
@tailwind components;

h1, h2, h3, h4, h5, h6 {
	&.content-title {
		@apply mb-4 font-normal;
	}

	&:hover .heading-anchor {
		visibility: visible;
	}
}

h1 {
	&.banner-title {
		@apply text-3xl font-normal;
	}
}

p {
	&.banner-paragraph {
		@apply text-base;
	}
}

a {
	@apply text-caribbeanGreen-600 trans-color;

	.dark & {
		@apply text-caribbeanGreen-500 trans-color;
	}

	&:hover,
	&.active {
		@apply text-caribbeanGreen-800;
	}

	.dark &:hover,
	.dark &.active {
		@apply text-white;
	}

	&.active {
		@mixin textGlow 3, theme('colors.neutral.500');
	}

	.dark &.active {
		@mixin textGlow 4;
	}
}

.container-flexible-large {
	max-width: 1600px;
}

.mobile-menu {
	top: 100%;
	@apply bg-white;
	z-index: 50;
	visibility: hidden;
	opacity: 0;

	.dark & {
		@apply bg-black;
	}

	#menu-toggle:checked + & {
		visibility: visible;
		opacity: 1;
	}
}

#theme-toggle-button {
	.system-icon,
	.light-mode-icon,
	.dark-mode-icon {
		display: none;
	}

	html[color-theme="system"] & .system-icon {
		display: block;
	}

	html[color-theme="light"] & .light-mode-icon {
		display: block;
	}

	html[color-theme="dark"] & .dark-mode-icon {
		display: block;
	}
}


.banner-section {
	background-size: cover;
	background-position: center top;
	box-shadow: 0 2px 4px #000;
}

.home-banner {
	background-image: url(https://s3.amazonaws.com/elliotderhay-com/banners/project-code-3.jpg);
}

.banner-content-wrapper {
	padding-top: 15vw;
}

.twitter-card {
	font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}

.lightbox-trigger {
	@apply cursor-pointer transition-all duration-300 ease-linear outline outline-1 rounded-lg mt-1 outline-black hover:bg-caribbeanGreen-600 hover:dark:bg-caribbeanGreen-200 hover:outline-caribbeanGreen-600 dark:hover:outline-caribbeanGreen-200;

	img {
		@apply rounded-lg;
	}

	figcaption {
		@apply px-4 py-2 mb-4 italic text-center transition-colors duration-300 ease-linear;
	}

	&:hover figcaption {
		@apply dark:text-black;
	}
}

/* took too long trying to customize via spatie/laravel-markdown */
pre.shiki {
	@apply my-4 p-4 overflow-x-auto;
}

@media only screen and (min-width: 600px) {
	.banner-section {
		height: 56.25vw;
		min-height: auto;
	}
}

@media only screen and (min-width: 768px) {
	h1.banner-title {
		@apply text-5xl font-normal;
	}

	p.banner-paragraph {
		@apply text-3xl;
	}
}

@media only screen and (min-width: 992px) {
	.mobile-menu {
		top: auto;
		@apply bg-transparent h-auto;
		z-index: 10;
		visibility: visible;
		opacity: 1;
	}

	.banner-section {
		height: 46.875vw;
	}
}

@media only screen and (min-width: 1200px) {
	.banner-section {
		height: 37.5vw;
	}
}


/**
 * custom utilities
 */
@tailwind utilities;

@layer base {
	:root {
		--color-primary: theme('colors.caribbeanGreen.500');
	}
}

.backlight {
	background-image: linear-gradient(to top, #00A87E, rgba(0, 168, 126, 0.26666666666666666) 5px, transparent 75%);
}

.construction {
	background-image: repeating-linear-gradient(45deg, transparent 0px, transparent 50px, rgba(69, 52, 17, 0.8) 50px, rgba(69, 52, 17, 0.8) 100px, transparent 100px);
}

.trans-color {
	@mixin transitions color, $default-speed;
}

.trans-border-color {
	@mixin transitions border-color, $default-speed;
}

.box-glow {
	box-shadow: 0 0 20px 0 #fff;
}

.layer-shadow {
	box-shadow: 0 2px 4px #000;
}
